
<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
          colors="true"
          verbose="true"
          stopOnFailure="true"
         >
    <testsuites>
        <testsuite name="Example">
            <file>./tests/mossTest.php</file>

        </testsuite>
         <testsuite name="Graph">
            <file>./tests/TestTest.php</file>
         </testsuite>
    </testsuites>
</phpunit>
