<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acpc.mobilepatienttracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConsultationHistoryDetailed"
            android:label="Appointment Details"></activity>
        <activity
            android:name=".PatientDateTimeBooking"
            android:label="Select Date and Time of Appointment" />
        <activity android:name=".DocTypeList"
            android:label="Create a Booking : Select a Doctor"/>
        <activity android:name=".PatientFragActivity" />
        <activity android:name=".DoctorFragActivity" />
        <activity android:name=".DoctorConsultForm"
            android:label="Input Consultation Details"/>
        <activity android:name=".DoctorForm"
            android:label="Please Input Personal Details"/>
        <activity android:name=".DoctorConsultationList"
            android:label="Patient Medical History"/>
        <activity android:name=".ConsultationDetails"
            android:label="Consultation Details"/>
        <activity
            android:name=".DRegistration"
            android:label="Registration : Doctor" />
        <activity
            android:name=".LoginPatient"
            android:label="Patient : Login" />
        <activity
            android:name=".LoginDoctor"
            android:label="Doctor : Login" />
        <activity android:name=".PatientForm"
            android:label="Please Input Personal Details"/>
        <activity
            android:name=".DoctorOrPatient"
            android:label="Welcome to Redbox" />
        <activity android:name=".DPatientDetails"
            android:label="Patient Personal Information"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PRegistration"
            android:label="Registration : Patient" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DBookingDetails"
            android:label="Booking Request Details"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>